<%= render "shared/header" %>
<%= flash[:notice] %>
<div class='form-wrap'>

  <%#= form_with model: @studio, url: studio_reserves_path, method: :post, class: 'studio-main', local: true do |f| %>
  <%= form_with(url: studio_reserves_path, method: :post, model: @studio_reserve, id: 'reserve-form', class: 'studio-main', local: true) do |f| %>

    <%# 入力欄のヘッダー %>
    <div class='form-header'>
      <h1 class='form-header-text'>
        スタジオ予約
      </h1>
    </div>
    <%# /入力欄のヘッダー %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 予約するスタジオの日程 %>
    <div class="reserve-studio">
      <div class="weight-bold-text">
        予約日
        <span class="indispensable">必須</span>
      </div>
      <%= raw sprintf(
        f.date_select(
          :date,
          use_month_numbers: true,
          date_separator: '%s'),
        '年 ', '月 ') + '日' %>
    </div>
    <%# /予約するスタジオ名の日程 %>

    <%# 予約するスタジオの時間 %>
    <div class="reserve-studio">
      <div class="weight-bold-text">
        開始時間
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:time_from_id, TimeList.all, :id, :name, {}, {class: 'reserve-content', id: 'reserve-time'}) %>
    </div>
    <%# /追加するスタジオ名の入力欄 %>

    <%# 予約するスタジオの時間 %>
    <div class="reserve-studio">
      <div class="weight-bold-text">
        終了時間
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:time_to_id, TimeList.all, :id, :name, {}, {class: 'reserve-content', id: 'reserve-time'}) %>
    </div>
    <%# /予約するスタジオ名の時間 %>

    <%# 予約人数 %>
    <div class="reserve-studio">
      <div class="weight-bold-text">
        利用者数
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:number_of_users_id, NumberOfUsers.all, :id, :name, {}, {class: 'reserve-content', id: 'reserve-number'}) %>
    </div>
    <%# /予約人数 %>

    <%# 予約する店舗への連絡事項欄 %>
    <div class="reserve-studio">
      <div class="weight-bold-text">
        店舗への連絡事項
        <span class="indispensable">任意</span>
      </div>
      <%= f.text_area :note, class: 'reserve-content', id: 'reserve-note', placeholder: "例）5分程度遅刻します。"%>
    </div>
    <%# /予約する店舗への連絡事項欄 %>

    <%# 支払い方法 %>
    <div class="reserve-studio">
      <div class="weight-bold-text">
        支払い方法
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:payment_method_id, PaymentMethod.all, :id, :name, {}, {class: 'reserve-content', id: 'reserve-payment'}) %>
    </div>
    <%# /支払い方法 %>

    <%# カード情報の入力 %>
    <div class='credit-card-form'>
      <h1 class='info-input-haedline'>
        クレジットカード情報入力
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード情報</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field 'number', class:"input-default", id:"card-number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
        <div class='available-card'>
          <%= image_tag 'card-visa.gif', class: 'card-logo'%>
          <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
          <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
          <%= image_tag 'card-amex.gif', class: 'card-logo'%>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">有効期限</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-expiration-date-wrap'>
          <%= f.text_area 'exp_month', class:"input-expiration-date", id:"card-exp-month", placeholder:"例)3" %>
          <p>月</p>
          <%= f.text_area 'exp_year', class:"input-expiration-date", id:"card-exp-year", placeholder:"例)23" %>
          <p>年</p>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">セキュリティコード</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field "cvc", class:"input-default", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
      </div>
    </div>
    <%# /カード情報の入力 %>

    <%# 下部ボタン %>
    <div class="reserve-btn-contents">
      <%= f.submit "予約する" ,class:"reserve-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>

  <% end %>
</div>

