<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <div class="bar"></div>
  <div class='top-page-header'>
    <div class='left-header'>
      <%= link_to image_tag("studio-logo.png", class: "studio-icon"), root_path %>
    </div>
    <div class='right-header'>
      <ul class='lists-right'>
        <% if admin_signed_in? %>
          <li><%= link_to 'スタジオ追加', new_studio_path, class: "new-studio" %></li>
          <li><%= link_to current_admin.last_name, "#", class: "admin-last-name" %></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "logout" %></li>
        <% elsif user_signed_in? %>
          <li><%= link_to current_user.last_name, user_path(current_user.id), class: "user-last-name" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to 'アカウント新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="bar"></div>
</header>