<%= render "shared/header" %>
<%= flash[:notice] %>
<div class='main-2'>
  <div class='form-wrap-2'>

    <%= form_with(model: @reservation, id: 'reserve-form', class: 'studio-main', local: true) do |f| %>

      <%# 入力欄のヘッダー %>
      <div class='form-header-2'>
        <h1 class='form-header-text-2'>
          予約内容修正
        </h1>
      </div>
      <%# /入力欄のヘッダー %>

      <%= render 'shared/error_messages', model: f.object %>

      <%# 予約するスタジオの日程 %>
      <div class="contents">
        <div class="contents-wrap">
          <label class="form-text-2">予約日</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="indispensable-text">
          <%= raw sprintf(
            f.date_select(
              :date,
              use_month_numbers: true,
              date_separator: '%s'),
            '年 ', '月 ') + '日' %>
        </div>
      </div>
      <%# /予約するスタジオ名の日程 %>

      <%# 予約するスタジオの時間 %>
      <div class="contents">
        <div class="contents-wrap">
          <label class="form-text-2">開始時間</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:time_from_id, TimeList.all, :id, :name, {}, {class: 'reserve-content', id: 'reserve-time'}) %>
      </div>
      <%# /追加するスタジオ名の入力欄 %>

      <%# 予約するスタジオの時間 %>
      <div class="contents">
        <div class="contents-wrap">
          <label class="form-text-2">終了時間</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:time_to_id, TimeList.all, :id, :name, {}, {class: 'reserve-content', id: 'reserve-time'}) %>
      </div>
      <%# /予約するスタジオ名の時間 %>

      <%# 予約人数 %>
      <div class="contents">
        <div class="contents-wrap">
          <label class="form-text-2">利用者数</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:number_of_users_id, NumberOfUsers.all, :id, :name, {}, {class: 'reserve-content', id: 'reserve-number'}) %>
      </div>
      <%# /予約人数 %>

      <%# 予約する店舗への連絡事項欄 %>
      <div class="contents">
        <div class="contents-wrap">
          <label class="form-text-2">店舗への連絡事項</label>
          <span class="indispensable">任意</span>
        </div>
        <%= f.text_area :note, class: 'reserve-content', id: 'reserve-note', placeholder: "例）5分程度遅刻します。"%>
      </div>
      <%# /予約する店舗への連絡事項欄 %>

      <%# 下部ボタン %>
      <div class="reserve-btn-contents">
        <%= f.submit "修正する" ,class:"reserve-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
      <%# /下部ボタン %>

    <% end %>
  </div>
</div>
<%= render "shared/footer"%>