<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="reserve-show">
  <div class="reserve-box">
    <h2 class="name">
      <% if @reservation.reserve.studio_id == 1 %>
        <%= @reservation.reserve.studio.name %>
      <% elsif @reservation.reserve.studio_id == 2 %>
        <%= @reservation.reserve.studio.name %>
      <% else @reservation.reserve.studio_id == 3 %>
        <%= @reservation.reserve.studio.name %>
      <% end %>
    </h2>
    <div class='studio-img-content'>
      <% if @reservation.reserve.studio_id == 1 %>
        <%= image_tag 'studio-a.jpg' , class:"reserve-box-img" %>
      <% elsif @reservation.reserve.studio_id == 2 %>
        <%= image_tag 'studio-b.jpg' , class:"reserve-box-img" %>
      <% else @reservation.reserve.studio_id == 3 %>
        <%= image_tag 'studio-c.jpg' , class:"reserve-box-img" %>
      <% end %>
    </div>
    <div class="reserve-explain-box">
      <span>予約情報</span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-reservation">予約者</th>
          <td class="detail-value"><%= @reservation.user.last_name %></td>
        </tr>
        <tr>
          <th class="detail-reservation">予約日</th>
          <td class="detail-value"><%= @reservation.date %></td>
        </tr>
        <tr>
          <th class="detail-reservation">開始時間</th>
          <td class="detail-value"><%= TimeList.find_by(id: @reservation.time_from_id).name %></td>
        </tr>
        <tr>
          <th class="detail-reservation">終了時間</th>
          <td class="detail-value"><%= TimeList.find_by(id: @reservation.time_to_id).name %></td>
        </tr>
        <tr>
          <th class="detail-reservation">利用人数</th>
          <td class="detail-value"><%= NumberOfUsers.find_by(id: @reservation.number_of_users_id).name %></td>
        </tr>
        <tr>
          <th class="detail-reservation">店舗への連絡事項</th>
          <td class="detail-value"><%= @reservation.note %></td>
        </tr>
        <tr>
          <th class="detail-reservation">支払い方法</th>
          <td class="detail-value"><%= PaymentMethod.find_by(id: @reservation.payment_method_id).name %></td>
        </tr>
        <%# adminでログインしている場合のみ予約者の電話番号を表示する %>
        <% if admin_signed_in? %>
        <tr>
          <th class="detail-reservation">電話番号</th>
          <td class="detail-value"><%= @reservation.user.phone_number %></td>
        </tr>
        <% end %>
        <%# /adminでログインしている場合のみ電話番号を表示する %>
      </tbody>
    </table>
  </div>
  <%# /商品の概要 %>

</div>

<%= render "shared/footer"%>
