<%= render "shared/header" %>
<div class='main-2'>
  <div class='form-wrap-2'>

    <%= form_with model: @studio, url: studios_path, method: :post, class: 'studio-main', local: true do |f| %>

      <%# 入力欄のヘッダー %>
      <div class='form-header-2'>
        <h1 class='form-header-text-2'>
          スタジオ予約
        </h1>
      </div>
      <%# /入力欄のヘッダー %>

      <%= render 'shared/error_messages', model: f.object %>

      <%# 追加するスタジオ名の入力欄 %>
      <div class="contents">
        <div class="contents-wrap">
          <label class="form-text-2">スタジオ名</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :name, class:"studios-name", id:"studio-name", placeholder:"スタジオ名（必須 40文字まで)", maxlength:"40" %>
      </div>
      <%# /追加するスタジオ名の入力欄 %>

      <%# 追加するスタジオ価格(/1h)の入力欄 %>
      <div class="contents">
        <div class="contents-wrap">
          <label class="form-text-2">税抜き価格　(¥500〜9,999,999)</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="content">
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"studio-price", placeholder:"例）500" %>/h
        </div>
      </div>
      <%# /追加するスタジオ価格(/1h)の入力欄 %>

      <%# 下部ボタン %>
      <div class="sell-btn-contents">
        <%= f.submit "登録する" ,class:"sell-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
      <%# /下部ボタン %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>